.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.App-header {
  width: 100%;
  background-color:var(--color5)
}
main {
  width: 100%;
  display: grid;
  grid-template-columns: 20vw 1fr;
}

a {
  color: var(--color1)
}