

.details {
    border: .5vmin solid;
    border-radius: 1vmax;
    width: 90%;
    padding: 1vmin;
    margin: 1vmin;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-rows: 1fr 3f;
    grid-template-columns: 50% 50%;
    box-shadow: 1px 1px 2px var(--color1);
}
/* .details-cover-img {
    width: 500px;
} */
